@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

/* font-family: 'Montserrat', sans-serif; */

@import url('https://fonts.cdnfonts.com/css/impact');

/* font-family: 'Impact', sans-serif; */
/* font-family: 'Impacted', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@100&display=swap');

/* font-family: 'Open Sans', sans-serif; */

:root   {
    --color-background: #30343f;
    --color-top-background: #191e2b;
    --color-aside-background: #252935;
    --color-buttons: #393e49;
    --color-buttons-hover: #4e5565;
    --color-fonts: #ffffff;

}

*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    background-color: var(--color-background);
}

.section_top    {
    background-color: var(--color-top-background);
    position: relative;
    width: 100%;
    height: 120px;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;

}

.main_title  {
    font-size: 2.2rem;
    color: var(--color-fonts);
    padding: 10px;
    text-align: center;

}

/*SECCION BARRA DE OPCIONES*/

.container_top_button_section {
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 20px;
}

.active_img_panel,
.active_text_panel,
.active_dark_mode {
    background-color: var(--color-top-background);
    color: var(--color-fonts);
    border: none;
    font-size: 15px;
    gap: 20px;
    padding: 10px 15px;
    border-radius: 5%;
}

.active_img_panel:hover,
.active_text_panel:hover,
.active_dark_mode:hover,
.close_panel_control:hover{
    background-color: var(--color-buttons-hover);
}

/*FIN SECCION BARRA DE OPCIONES*/

/*SECCION CENTRAL*/

.section_container    {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.section_central   {
    width: 610px;
    height: 610px;
    margin-top: 50px;
    background-color: black;
    display: flex;
    flex-direction: column;
}

.top_text_title,
.bottom_text_title{
    width: 610px;
    padding: 50px;
    background-color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    text-align: center;
}

.light_stroke{  
    -webkit-text-stroke: 1px black;
}

.dark_stroke    {
    -webkit-text-stroke: 2px black;
}

.section_image {
    background-size: cover;
    width: 100%;
    height: 100%;
    background-image: none;
}

/*BOTON DE DESCARGA*/

.button_download  {
    margin-top: 60px;
    background-color: #2e7d32;
    color: #fff;
    padding: 15px;
    border-radius: 5%;
    border: none;
    font-size: 14px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
}

button:hover {
    background-color: #225e25;

}

/*SECCION ASIDE*/

.aside_section_img,
.aside_section_text{
   position: absolute;
   background-color: var(--color-aside-background);
   color: var(--color-fonts);
   width: 260px;
   height: 100%;
   display: flex;
   flex-direction: column;
   float: left;
   position: fixed;
   top: 0;
   right: 0;
}

.close_panel_control    {
    display: none;
}

.aside_img_container    {
    display: flex;
    flex-direction: column;
    padding: 10px 5px;
    gap: 10px;
    margin-top: 20px;
}

.aside_image_title  {
    text-align: center;
    font-family: 'Open Sans' sans-serif;
    font-size: 18px;
    padding: 5px;
    font-weight: bold;
    /* margin-left: 90px; */
}

.aside_label_img_url    {
    font-size: 13px;
    color: var(--color-fonts);
    margin-left: 10px;
    margin-bottom: -5px;
    font-weight: bold;
}

.panel_control_input    {
    background-color: var(--color-background);
    align-self: center;
    width: 90%;
    margin-left: 10px;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 3px;

}

.panel_control_input:hover{
    transition: all 0.5s ease;
     background-color: var(--color-buttons-hover);
}

.aside_background_img_setting  {
    display: flex;
    flex-direction: column;
    padding: 0px 5px;
    margin-top: 10px;
}

.aside_colour_and_selector {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 45px;
    gap: 15px;

}

.panel_control_img_background {
    font-size: 12px;
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 5px;
}

.panel_control_background{
    background-color: var(--color-background);
    width: 100px;
    padding: 20px 10px;
    border: none;
    outline: none;
    border-radius: 3px;
    color: var(--color-fonts);
    margin-left: 10px;
}

.color_select_span  {
    position: absolute;
    color: var(--color-fonts);
    text-align: center;
    margin-top: 30px;
    margin-left: 20px;
}

.colour_effect_selector {
    margin-top: 30px;
    margin-left: -8px;
}

.effect_selector {
    background-color: var(--color-background);
    padding: 10px 5px;
    border: none;
    outline: none;
    border-radius: 3px;
    color: var(--color-fonts);
    margin-left: 5px;
}

.aside_filters_container    {
    margin-top: 20px;
}

.control_panel_img_filters  {
    font-weight: bold;
    font-size: 12px;
    margin-left: 12px;
}

.aside_filters_container label {
    font-size: 12px;
    margin-right: 80px;
}

.filter_setting input{
    width: 100%;
}

.filter_setting {
    padding: 5px 10px;
    align-self: flex-start;
}

.reset_filters_button {
    margin-left: 20px;
    margin-top: 15px;
    background-color: var(--color-buttons);
    color: var(--color-fonts);
    border-radius: 3px;
    padding: 10px;
    border: none;
}

/*END ASIDE IMG*/

/*ASIDE TEXT*/

.aside_all_setting_text{    
    display: flex;
    flex-direction: column;
    padding: 20px 15px;
    margin-top: 20px;
}

.aside_text_container   {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 25px;
}

.top_text_area, 
.bottom_text_area, 
#font_selection, 
.button_align,
#font_size,
#font_colours,
#background_font_colours,
.non_outline,
.light_outline,
.dark_outline,
.spacing_setting,
#line_spacing_setting   {
    background-color: var(--color-background);
    padding: 5px 5px;
    border: none;
    outline: none;
    border-radius: 3px;
    color: var(--color-fonts);
    margin-left: 5px;
}

.top_text_area:hover, 
.bottom_text_area:hover, 
#font_selection:hover, 
.button_align:hover,
#font_size:hover,
#font_colours:hover,
#background_font_colours:hover,
.non_outline:hover,
.light_outline:hover,
.dark_outline:hover,
.spacing_setting:hover,
#line_spacing_setting:hover {
    transition: all 0.5s ease;
     background-color: var(--color-buttons-hover);
}

.control_panel_txt_top,
.control_panel_txt_bottom,
.font_title,
.control_panel_txt_colour,
.control_panel_txt_background,
.control_panel_txt_outline,
.control_panel_txt_spacing,
.control_panel_txt_line_spacing {
    font-weight: bold;
    font-size: 12px;
    margin-left: 10px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.aside_text_title   {
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bolder;
}

#non_text_top,
#non_text_bottom,
#transparent_background  {
    margin-left: 5px;
}

.non_text_top_span,
.non_text_bottom_span,
.non_colour_or_text   {
    font-size: 12px;
}

#font_selection {
    width: 98%;
    height: 35px;
}

.align_text_section {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    
    
}

#font_size  {
    width: 50%;
    padding: 10px 10px 10px;
}

.button_align   {
    width: 28.91px;
    padding: 10px 1px 10px;
}

.panel_colour_background_options    {
    display: flex;
    flex-direction: column;
}

.colour_div  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.colour_options {
    display: flex;
    flex-direction: column;
    position: relative;
}

#font_colours   {
    width: 100px;
    height: 35px;
}

#text_color {
    position: absolute;
    margin-top: 30px;
    margin-right: 10px;
    align-self: flex-end;
}

.background_colours_options {
    display: flex;
    flex-direction: column;
    position: relative;
}

#background_font_colours    {
    width: 100px;
    height: 35px;
    border-radius: 5px;
}

#text_background_color  {
    position: absolute;
    align-self: flex-end;
    margin-top: 30px;
    margin-right: 10px;
    color: #4e5565; /*puesto asi para que se vea hasta solucionar*/
}

#transparent_background {
    margin-top: 10px;
}

.non_outline,
.light_outline,
.dark_outline   {
    padding: 10px;
}

.spacing_setting,
#line_spacing_setting   {
    padding: 10px;
    width: 95%;
}


/*FIN ASIDE TEXT*/

.visibility--hidden {
    display: none;
}


@media screen and (max-width: 768px)    {

    .close_panel_control    {
        display: block;
        padding: 3px;
        color: var(--color-fonts);
        background-color: var(--color-aside-background);
        border: none;
        font-size: 15px;
        float: right;
        margin-right: 10px;
        /* margin-left: 205px; */
        margin-top: 10px;
    }

    .panel_control_input    {
        width: 90%;
    }

    .section_central    {
        margin-top: 20px;
    }

    #aside_section_img{
        display: none;
    }

    #aside_section_text{
        display: none;
    }

    .aside_image_title  {
        margin-left: 20px;
    }

    .button_align   {
        width: 24px;
    }

    .non_outline,
    .light_outline,
    .dark_outline   {
        width: 59.8px;
        font-size: 12px;
    }
   
    .top_text_title,
    .bottom_text_title{
        padding: 30px;
    }

    .button_download    {
        margin-top: 25px;
    }

    /*ASIDE SECTION*/

    
}

@media screen and (max-width: 480px) {

    .section_top  {
        width: 100%;
        height: 100px;
    }

    .main_title {
        font-size: 1.6rem;
        padding: 5px;
    }

    .active_img_panel:hover,
    .active_text_panel:hover,
    .active_dark_mode:hover,
    .close_panel_control:hover{
        color: var(--color-buttons-hover);
    }

    .section_central    {
        width: 440px;
        height: 440px;
        margin-top: 100px;
    }

    .top_text_title,
    .bottom_text_title  {
        width: 100%;
        padding: 10px;
    }

    .bottom_text_title{
        margin-top: 320px;
    }

    /*ASIDE SECTION*/

    /*IMG SECTION*/

    .aside_all_setting_img{
        padding: 30px;
    }

    .aside_section_img  {
        width: 100%;
        height: 100%;
    }

    .panel_control_input {
        width: 95%;
    }

    .panel_control_background,
    .effect_selector{   
        width: 180px;
    }

    .effect_selector    {
        margin-left: 15px;
    }

    /*TEXT SECTION*/
    .aside_section_text{
        width: 100%;
    }

    .top_text_area,
    .bottom_text_area  {
        width: 98%;
        height: 40px;
    }

    #button_align_left,
    #button_align_center,
    #button_align_right {
        width: 60px;
    }

    #font_colours,
    #background_font_colours   {
        width: 200px;
    }
    
    .non_outline,
    .light_outline,
    .dark_outline   {
        width: 130px;
    }
    
    #spacing_setting,
    #line_spacing_setting   {
        width: 98.5%;
    }
}

@media screen and (max-width: 390px){ 

    .section_top{
        width: 100%;
    }

    .section_central    {
        width: 350px;
        height: 350px;
        margin-top: 150px;
    }

    .active_img_panel,
    .active_text_panel,
    .active_dark_mode { 
        font-size: 13.5px;
        padding: 5px;
}

    .section_image  {
        width: 100%;
        height: 100%;
    }

    .bottom_text_title  {
        margin-top: 250px;
    }

    /*ASIDE SECTION*/

    .aside_section{
        width: 100%;
    }

    /*IMG SECTION*/
    
    .panel_control_background,
    .effect_selector{   
        width: 137px;
    }

    /*TEXT SECTION*/

    #button_align_left,
    #button_align_center,
    #button_align_right{    
        width: 50px;
    }

    #font_colours,
    #background_font_colours    {
        width: 150px;
    }

    .non_outline,
    .light_outline,
    .dark_outline   {
        width: 112px;
    }

}

@media screen and (max-width: 320px)    {

    .section_top    {
        width: 100%;
    }

    .section_central    {
        width: 280px;
        height: 280px;
        margin-top: 200px;
    }

    .top_text_title,
    .bottom_text_title{ 
        padding: 5px;
    }

    .bottom_text_title{
        margin-top: 200px;
    }

    /*ASIDE SECTION*/

    .aside_section{
        width: 100%;
    }

    /*IMG SECTION*/

    .panel_control_background,
    .effect_selector{   
        width: 103px;
    }

    .panel_control_background   {
        margin-left: 6px;
    }

    .effect_selector    {
        margin-left: 20px;
    }

    /*TEXT SECTION*/

    #button_align_left,
    #button_align_center,
    #button_align_right {
        width: 38.5px;
    }

    #font_colours,
    #background_font_colours    {
        width: 140px;
    }

    .non_outline,
    .light_outline,
    .dark_outline{  
        width: 88.5px;
    }

}

